<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('/view/common/css.html')?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include('/view/common/aside.html')?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include('/view/common/header.html')?>
            <div class="body teacher" id="teacheraddForm">
                <!-- 面包屑 -->

            </div>
        </div>
    </div>
    <!--第一步处理好公共部分和js，css和老师按钮-->
    <!--第二步模板,同时布置后台-->
    <script type="text/template" id="teacherAddTpl">
        <ol class="breadcrumb">
            <li><a href="javascript:;">讲师管理</a></li>
            <li class="active">{{pageName}}</li>
        </ol>
        <div class="teacher-add">
            <form action="" class="form-horizontal col-xs-offset-2" id="teacheraddFormId">
                <div class="form-group">
                    <label class="col-xs-3 control-label">姓名</label>
                    <div class="col-xs-4">
                        {{if tc_id}}
                        <input type="hidden" value="{{tc_id}}" name="tc_id">
                        {{/if}}
                        <input type="text" class="form-control input-sm" placeholder="讲师名称" value="{{tc_name}}" name="tc_name" data-required data-description="tcname" data-describedby="tcnameInfo">
                    </div>
                    <div class="col-xs-2" id="tcnameInfo"></div>
                </div>
                {{if !tc_id}}
                <div class="form-group">
                    <label class="col-xs-3 control-label">密码</label>
                    <div class="col-xs-4">
                        <input type="password" class="form-control input-sm" name="tc_pass"
                               data-pattern='^\d{6}$' data-required data-description="tcpass" data-describedby="tcpassInfo" >
                    </div>
                    <div class="col-xs-2" id="tcpassInfo"></div>
                </div>
                {{/if}}
                <div class="form-group">
                    <label class="col-xs-3 control-label">入职时间</label>
                    <div class="col-xs-4">
                        <input type="text" id="joinDate" class="form-control input-sm" value="{{tc_join_date}}" name="tc_join_date" data-required data-description="tcjoin" data-describedby="tcjoinInfo">
                    </div>
                    <div class="col-xs-2" id="tcjoinInfo"></div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">类型</label>
                    <div class="col-xs-2">
                        <select name="tc_type" class="form-control input-sm">
                            <option value="1" {{if tc_type == 1}}selected{{/if}}>讲师</option>
                            <option value="0" {{if tc_type == 0}}selected{{/if}}>管理员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">性别</label>
                    <div class="col-xs-4">
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="0" {{if tc_gender == 0}}checked{{/if}}> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tc_gender" value="1" {{if tc_gender == 1}}checked{{/if}}> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-7">
                        <input href="/teacher/teacher_list" class="btn btn-success btn-sm pull-right" id="addteacherBtn" type="submit" value=" 添 加 ">
                    </div>
                </div>
            </form>
        </div>
    </script>

    <?php include('/view/common/script.html')?>
    <script>
        //共同逻辑
        require(['js/common']);
        //老师逻辑
        require(['js/teacheradd']);
    </script>
</body>
</html>